@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  overflow-x: hidden;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0;
}

.card-container .card-origin {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  border-radius: 25px;
  z-index: 10;
}

.card-container .card-origin .card {
  height: 500px;
  width: 400px;
  background-color: lightblue;
  -webkit-box-shadow: 0px 3px 3px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 50ms ease-out;
  transition: all 50ms ease-out;
  z-index: -10;
}

.click-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 5rem 0;
}

.click-container .btn {
  margin: 1rem;
  padding: 1rem;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.click-container .btn:hover {
  background-color: lightblue;
}

.click-container .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  max-width: 1200px;
  height: 65vh;
  position: relative;
}

.click-container .image-container .img {
  position: absolute;
  top: 0;
  right: -100%;
  min-width: 100%;
  height: 100%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.drag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 90%;
  min-height: 300px;
  margin: 5rem 0;
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: lightcoral;
}

.drag-container .item {
  margin: 10px;
  min-width: 300px;
  height: 240px;
  background-color: lightcyan;
}
/*# sourceMappingURL=style.css.map */